.panel.panel-default.z-depth-1
  .panel-body
    .h4.text-dark-secondary(ng-if="!detailVM.item.isBundle")
      strong 产品信息
      //gqc Offering information
    .h4.text-dark-secondary(ng-if="detailVM.item.isBundle")
      strong 产品组合信息
      //gqc Bundle information
    hr
    dl
      dt 名称
      dd.text-dark-secondary {{ detailVM.item.name }}
      dt 版本
      dd.text-dark-secondary {{ detailVM.item.version }}
      dt 描述
      dd.text-dark-secondary.text-preline {{ detailVM.item.description ? detailVM.item.description : '无描述' }}
      dt(ng-if="detailVM.item.place.length") 位置
      dd(ng-if="detailVM.item.place.length")
        .h4
          .label.label-default.inline-block(ng-repeat="place in detailVM.item.place")
            span.item-text {{ place.name }}
      dt 更新时间
      dd.text-dark-secondary
        time {{ detailVM.item.lastUpdate | amDateFormat: 'YYYY年MM月DD日, h:mm:ss a' }}

    div(ng-if="!detailVM.item.isBundle")
      .h4.text-dark-secondary
        strong 产品规格
        //Product information
      hr
      dl
        dt 名称
        dd.text-dark-secondary {{ detailVM.item.productSpecification.name }}
        dt 版本
        dd.text-dark-secondary {{ detailVM.item.productSpecification.version }}
        dt 描述
        dd.text-dark-secondary.text-preline {{ detailVM.item.productSpecification.description  ? detailVM.item.productSpecification.description : '无描述' }}
        dt 更新时间
        dd.text-dark-secondary
          time {{ detailVM.item.productSpecification.lastUpdate | amDateFormat: 'YYYY年MM月DD日, h:mm:ss' }}
        dt 品牌
        dd.text-dark-secondary {{ detailVM.item.productSpecification.brand }}
        dt 编号
        dd.text-dark-secondary {{ detailVM.item.productSpecification.productNumber }}

        div(ng-if="detailVM.item.productSpecification.isBundle")
          .h5.text-dark-primary(style="margin-top: 20px;")
            strong Bundled Products

          .panel-group(id="bundled-products")
            .panel.panel-default.z-depth-1(ng-repeat="product in detailVM.item.productSpecification.bundledProductSpecification")
              .panel-heading
                .pull-right
                  strong v{{ product.version }}
                .h4
                  a.btn-block(data-toggle="collapse", data-parent="#bundled-products", data-target="#bundled-product-{{ $index }}")
                    span.item-text {{ product.name }}
              .panel-collapse.collapse(id="bundled-product-{{ $index }}")
                .panel-body
                  dl
                    dt Name
                    dd.text-dark-secondary {{ product.name }}
                    dt Version
                    dd.text-dark-secondary {{ product.version }}
                    dt Description
                    dd.text-dark-secondary.text-preline {{ product.description  ? product.description : '无描述' }}
                    dt Updated
                    dd.text-dark-secondary
                      time {{ product.lastUpdate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
                    dt Brand
                    dd.text-dark-secondary {{ product.brand }}
                    dt ID Number
                    dd.text-dark-secondary {{ product.productNumber }}