table.table.table-bordered
  thead
    tr
      th 用户名
      th 拥有方
      th 销售方
  tbody
    tr(ng-repeat="party in updateVM.item.relatedParty")
      td {{ party.id }}
      td.text-success
        i.fa.fa-check-circle-o(ng-if="party.role == 'Owner'")
      td.text-success
        i.fa.fa-check-circle-o(ng-if="party.role == 'Seller'")