form(name="step.form", novalidate)
  .item-toggle
    //gqc Is a new bundle of products
    label.toggle 是否是产品组合?
      .track
        input(
          type="checkbox"
          ng-model="createVM.data.isBundle"
          ng-change="createVM.toggleBundle()"
        )
        i.fa.fa-2x
  .row(ng-if="createVM.data.isBundle && createForm.stepIndex == $index", ng-controller="ProductSearchCtrl as searchVM")
    .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.LOADED" ng-switch="searchVM.list.length")
      .alert.alert-info.text-center(ng-switch-when="0") 没有产品
      //No products found.

      div(ng-switch-default)
        .alert.alert-danger.text-center(ng-show="!step.form.$valid") Bundles must contain at least two product specs
        .table-responsive
          table.table.table-bordered.table-hover.table-selectable
            thead
              tr
                th 状态
                th 名称
                th ID
                th 品牌
                th 类型
                th 更新时间
            tbody
              tr(ng-repeat="product in searchVM.list", ng-class="{ active: createVM.hasProduct(product) }", ng-click="createVM.toggleProduct(product)")
                td
                  .status-item(class="status-{{ product.lifecycleStatus | lowercase }}")
                    span.item-icon
                    span.item-text {{ product.lifecycleStatus }}
                th {{ product.name }}
                td {{ product.productNumber }}
                td {{ product.brand }}
                td
                  span.label(ng-class="product.isBundle ? 'label-bundle' : 'label-single'")
                    | {{ product.isBundle ? 'Bundle' : 'Single' }}
                td
                  time(am-time-ago="product.lastUpdate")

    .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.ERROR")
      .alert.alert-danger.text-center {{ searchVM.errorMessage }}
    .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.LOADING")
      .container-spinner
        span.fa.fa-spinner.fa-spin.fa-2x
    pager(controller="searchVM", size="12", max="12" ng-init="searchVM.setFilters({status: STATUS.ACTIVE + ',' + STATUS.LAUNCHED, bundle: false})")

  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text 下一步
      //gqc Next